<div class="xMenu_box" data-sticky>
  <h3 class="xMenu_box_title">トレードツール</h3>
  <div class="xMenu_box_body">
    <div style="height: 65px; overflow: hidden; border-radius: 5px;">
      <a href="https://www.tradingview.com/chart/?aff_id=135484" rel="nofollow" target="_blank">
        <img style="width: 100%; object-fit: cover;" src="https://s3.tradingview.com/pub/referrals/creatives/WT/JP/200x200SmallSquare.jpg" />
      </a>
    </div>
    <div style="margin-top: 5px;">
      <a href="https://px.a8.net/svt/ejp?a8mat=3NCT8C+EV8PMA+1WP2+65EOH" rel="nofollow" target="_blank">
        <img style="border-radius: 5px;" border="0" width="234" height="60" alt=""
          src="https://www22.a8.net/svt/bgt?aid=220627452899&wid=001&eno=01&mid=s00000008903001033000&mc=1">
      </a>
      <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3NCT8C+EV8PMA+1WP2+65EOH" alt="">
    </div>
  </div>
</div>

