{{- $words := .Site.Data.words.definitions }}

<style>
  .local-wordCount {
    text-align: right;
  }
  .local-ref {
  }
  dt {
    color: #dd3300;
    font-weight: bolder;
  }
  dt > .en, dt > .jp {
    color: gray;
    font-weight: normal;
    font-style: italic;
  }
  dt > .index {
    color: lightgray;
    font-weight: normal;
    font-size: smaller;
  }
  dt > .tag {
    color: gray;
    font-size: smaller;
    font-weight: normal;
    vertical-align: middle;
    border: solid 1px lightgray;
    border-radius: 1em;
    padding: 0.1em 0.7em;
    background: #efefef;
  }
  dd {
    margin-top: 0.3em;
    font-weight: normal;
  }
</style>

  <div class="local-wordCount">
    登録数: {{ len $words }}（随時追加中）
  </div>

  <dl>
    {{- range $index, $elem := $words }}
      <dt>
        <span class="index">{{ add $index 1 }}. </span>
        {{- with .id }}<a id="{{ . }}"></a>{{ end }}
        <a name="{{ .label }}" /></a>
        {{ .label }}
        {{- with .yomi }}（{{ . }}）{{ end }}
        {{ with .english }}<span class="en">{{ . }}</span>{{ end }}
        {{ with .japanese }}<span class="jp">{{ . }}</span>{{ end }}
        {{ range .tags }}
          <span class="tag">{{ . }}</span>
        {{ end }}
      </dt>
      <dd>
        {{- with .desc }}{{ . | markdownify }}{{ end }}

        {{- with .link }}
          <div class="local-ref"><a href="#{{ . }}">{{ . }}</a></div>
        {{- end }}

        {{- with .synonyms }}
          <div class="local-ref">📙同義語: {{ . | markdownify }}</div>
        {{- end }}

        {{- with .antonyms }}
          <div class="local-ref">📕対義語: {{ . | markdownify }}</div>
        {{- end }}

        {{- with .related }}
          <div class="local-ref">📗関連用語: {{ . | markdownify }}</div>
        {{- end }}

        {{- range .pages }}
          <div class="local-ref">📘参考ページ: <a href="{{ .pid }}">{{ .title }}</a></div>
        {{- end }}

        {{- with .more }}
          <div class="local-ref"><a href="{{ . | relURL }}">📘もっと詳しく</a></div>
        {{- end }}

        {{/* - if .related }}
          <div class="local-ref">関連用語:
            {{- range .related }}
              {{- $relatedWords := where $words "id" "==" . }}
              {{- range $relatedWords }}
                <a href="#{{ .id }}">{{ .label }}</a>
              {{- end }}
            {{- end }}
          </div>
        {{- end */}}
      </dt>
    {{- end }}
  </dl>

